.joke__description{
    margin-bottom: var(--mb-3);
    width: 100%;
    font-size: var(--h2-font-size);
}
.joke__container{
    row-gap: 7rem;
}
/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
    .home__description{
        max-width: initial;
        margin-bottom: var(--mb-2-5);
    }
  }
  
  /* For medium devices */
  @media screen and (max-width: 768px) {

  }

  
  /* For small devices */
  @media screen and (max-width: 350px) {
  }